<div class="cart-view">
    <h2>Your Cart {{cartItems | mapitemsDebug }}</h2>
    <button mat-fab (click)="ClearCart()">Clear </button>
    <div class="cart" *ngFor="let cartItem of cartItems ; index as i ; first as ff">
        <div class="ticket">
            <span *ngIf="ff; else elseBlock" style="margin: 5px;"> {{ i + 1}}/{{cartItems.length}} </span>
            <ng-template #elseBlock>Content to render when condition is true.</ng-template>
            <span style="margin: 5px;"> {{ i + 1}}/{{cartItems.length}} </span>
            <div layout-padding [appTraslate]="cartItem.item.name"> </div>
            <span style="margin: 5px;"></span>
            <div layout-padding> {{cartItem.item.prices.fixedPrice | price}} </div>
            <span style="margin: 5px;"></span>
            <button mat-fab (click)="reduce(cartItem.item.id)">-</button>
            <span>{{cartItem.quantity}}</span>
            <button mat-fab (click)="increac(cartItem.item)">+</button>
        </div>

    </div>

    <div class="total">
        <h3>Total: {{totalPrice | price}}</h3>
    </div>