<mat-card>
    <mat-card-header>
        <mat-card-title>
            <div class="langs" *ngFor="let langItem of this.AvailableLanguages$ | async ">
                <div class="langItem">
                    <span>{{langItem.link}}</span>
                    <span style="margin: 5px;"></span>
                    <span>{{langItem.code}}</span>
                    <span style="margin: 5px;"></span>
                    <span>{{langItem.title}}</span>
                </div>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>{{this.translations$| async | mapitemsDebug}}</div>
        <span class="example-spacer  "></span>
        <div class="langs" *ngFor="let langItem of this.translations$ | async | keyvalue ">
            <span>{{langItem | mapitemsDebug }}</span>
        </div>
    </mat-card-content>
</mat-card>