<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-toolbar color="primary"> <!-- color="warn"  primary', 'accent', or 'warn -->
                <mat-toolbar-row>
                    <span>OrbitaliQ Tickets Portal</span>
                    <span class="example-spacer  "></span>
                    <mat-icon fontIcon="public"></mat-icon>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-toolbar-row *ngFor="let ticket of ticketRepo$ | async">
            <button mat-fab layout-padding color="primary" (click)="onSelect(ticket)">Add</button>
            <span layout-padding class="example-spacer"></span>
            <span layout-padding>{{ticket.name}}</span>
            <span layout-padding class="example-spacer"></span>
            <span layout-padding>{{ticket.description}}</span>

        </mat-toolbar-row>
    </mat-card-content>
</mat-card>