<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-toolbar color="primary"> <!-- color="warn"  primary', 'accent', or 'warn -->
                <mat-toolbar-row>
                    <span>OrbitaliQ Tickets Portal</span>
                    <span class="example-spacer  "></span>
                    <mat-icon fontIcon="public"></mat-icon>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-toolbar-row *ngFor="let ticket of ticketRepo$ | async">
            <button mat-fab color="primary" (click)="onSelect(ticket)">Add</button>
            <span style="margin: 5px;"></span>
            <app-ticket-view [ticket]="ticket" (ticketSelected)="onClicked($event)"></app-ticket-view>
            <span class="example-spacer"></span>
            <div class="right">{{ticket.prices.fixedPrice | price}}</div>

        </mat-toolbar-row>
    </mat-card-content>
</mat-card>