<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-toolbar color="primary"> <!-- color="warn"  primary', 'accent', or 'warn -->
                <mat-toolbar-row>
                    <span>OrbitaliQ Tickets Portal</span>
                    <span class="example-spacer  "></span>
                    <mat-icon fontIcon="public"></mat-icon>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>ticket-selector works!</p>
    </mat-card-content>
</mat-card>