<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-toolbar color="primary"> <!-- color="warn"  primary', 'accent', or 'warn -->
                <mat-toolbar-row>
                    <p>tikets works!</p>
                    <span>OrbitaliQ Tickets Portal</span>
                    <span class="example-spacer  "></span>
                    <mat-icon fontIcon="public"></mat-icon>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card>
            <app-ticket-selector class=" "></app-ticket-selector>
        </mat-card>
        <mat-card>
            <app-cart-view></app-cart-view>
        </mat-card>

    </mat-card-content>
</mat-card>